.OBAddContainer {
  width: 350px;
  height: 522px;
  padding: 24px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 8px;
  background: #fcfcfc;
  margin-top: 40px;
  margin-bottom: 40px;
}

.OBAddTitle {
  margin-bottom: 24px;
  font-family: map-get($fonts, m), sans-serif; //= font-family: Poppins; font-weight: 500
  color: #161616;
  font-size: 18px;
  letter-spacing: -0.36px;
}

.OBAddInput {
  width: 100%;
  font-family: map-get($fonts, r), sans-serif;  // 400
  color: #161616;
  line-height: 18px; /* 128.571% */
  padding: 14px 18px 14px 18px;
  border-radius: 8px;
  border: 1px solid rgba(82, 85, 188, 0.4); // (190, 219, 176, 0.4); - фісташковий
  // border: 1px solid var(--inputBorder);  // не працює  
  transition: $transition;
  box-shadow: 0px 4px 16px 0px rgba(22, 22, 22, 0.08);
  &::placeholder {
    color: rgba(22, 22, 22, 0.50);
  }
  &:hover,
  &:focus {
    border: 1px solid rgba(82, 85, 188, 1); // rgba(190, 219, 176, 1);
    // border: 1px solid var(--inputBorderAccent); // не працює    
    outline: none;
  }
  &:not(:placeholder-shown):valid {
    border-color: #BEDBB0;  // якщо заповнили обов'язкове поле title
  }
  &:not(:focus):placeholder-shown:not(:valid) {
    border-color: #E09CB5;  // якщо не заповнили обов'язкове поле title
  }
}

.OBAddDescription {
  margin-top: 14px;
  margin-bottom: 20px;
  height: 154px;
  resize: none;
}

.OBAddlabel {
  display: flex;
  flex-direction: column;
  font-family: map-get($fonts, r), sans-serif; // 400
  color: rgba(22, 22, 22, 0.5);
  font-size: 12px;
  letter-spacing: -0.24px;
}

.OBAddRadioGroup {
  display: flex;
  gap: 8px;
  margin-top: 4px;
  margin-bottom: 14px;
}

.OBAddradioBtn { 
  width: 14px;  // тепер радіокнопки не скачуть при чеку
  height: 14px;
}

.OBAddDeadlineInput {
  margin-top: 4px;
}

.OBAddSubmitBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  width: 100%;
  height: 49px;
  border-radius: 8px;
  background-color: #5255bc;
  // background-color: var(--accent); // не працює фіолетовий (#bedbb0 - фісташкковий; #5255bc - фіолетовий)
  border-color: transparent;

  color: #fff;
  font-family: map-get($fonts, m), sans-serif; // 500
  font-style: normal;
  &:hover,
  &:focus {
    background-color: #7b7ede; 
    // background-color: var(--accentHover);  // не працює фіолетовий ( #9DC888 - фісташкковий; #7b7ede - фіолетовий)
  }
}

.OBAddIconWrapper {
  width: 28px;
  height: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 8px;
  background-color: #ffffff; // #161616 - dark/light; #ffffff - violet
  // background-color: var(--modalBtnText);  // не працює ніякий
  border-radius: 6px;
}

.OBAddIcon {
  width: 14px;
  height: 14px;
  stroke: rgb(22, 22, 22, 1);
}

