.OBCardContainer {
  position: relative;
  width: 334px;
  margin-left: auto;
  margin-right: 8px;
  margin-bottom: 8px;
  border-left: 4px solid;
  border-radius: 8px;
  padding: 14px 24px;
  background-color: var(--bgCard);
}

.OBCardTitle {
  font-family: Poppins, sans-serif;
  font-size: 14px;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.28px;
  margin-bottom: 8px;
  // font-family: map-get($fonts, b), sans-serif; //= font-family: Poppins; font-weight: 600
  color: var(--modalTitle); 
  font-style: normal;
}

.OBCardDescription {
  cursor: pointer;
  color: var(--cardText);  
  font-family: map-get($fonts, r), sans-serif; 
  font-size: 12px;
  line-height: 16px; 
}

.OBCardDescriptionShort {
  display: -webkit-box;
  -webkit-line-clamp: 2; // обмежує зміст до 2х рядків (працює тільки в зв'язці з спорідненими властивостями)
  -webkit-box-orient: vertical;
  overflow: hidden; // щоб текст, який не вмістився, не виліз за рамки картки
  text-overflow: ellipsis; // проставляє три крапки, інакше текст обрізаний на півбукві
}

.OBCardDescriptionFull {
  overflow: visible;
  text-overflow: inherit;
  white-space: normal;
}

.OBCardSeparator {
  margin-top: 14px;
  margin-bottom: 14px;
  border-color: var(--cardSeparator);
}

.OBCardFooterContainer {
  display: flex;
  justify-content: space-between;
}

th,
td {
  padding-bottom: 3px;
  padding-right: 23px;
  text-align: left;
}

.OBCardProreties {
  // font-family: map-get($fonts, r), sans-serif; // 400
  color: var(--cardText);  
  font-family: Poppins, sans-serif;
  font-size: 8px;
  font-style: normal;
  letter-spacing: -0.16px;
  font-weight: 400;
  line-height: normal;
}

.OBCardPriorityCircle {
  width: 12px;
  height: 12px;
  border-radius: 50%;
}

.OBCardDate {
  font-family: map-get($fonts, r), sans-serif; // 400
  color: var(--modalTitle);
  font-size: 10px;
  letter-spacing: -0.2px;
}

.OBCardIconsWrapper {
  display: flex;
  align-items: flex-end;
  gap: 8px;
}

.OBCardBellIcon {
    fill: transparent; 
}

.OBCardBtnIcon {
  width: 16px;
  height: 16px;
  background-color: transparent;
  border: none;
  stroke: var(--iconsCard); // колір обводки іконки 
  fill: transparent;  
  transition: $transition;
    &:hover,
    &:focus {
      stroke: var(--inputBorderAccent);
      cursor: pointer;
      transform: scale(1.1);
    }
}

// --------------Pop-up-----------------------

.OBCardPopupContainer {
  position: absolute;
  bottom: 4px;
  right: 4px;
  min-width: 70px;
  min-height: 57px;
  max-width: 250px;
  max-height: 120px;
  padding: 18px;
  background-color: var(--bgCard);

  border-radius: 8px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  animation: show 0.45s cubic-bezier(0, 0.1, 0.2, 1) 1;
  border: 1px solid var(--accent);
  overflow: hidden; 
  text-overflow: ellipsis;
  white-space: nowrap; 
  overflow-y: auto;
  overflow-x: auto;
}

@keyframes show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.OBCardPopupItem {
  display: flex;
  gap: 8px;
  justify-content: space-between;
  color: var(--textThemeMenu);
  // font-family: map-get($fonts, r), sans-serif;
  font-family: Poppins, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.28px;  
  &:not(:last-child) {
    margin-bottom: 8px;    
  }
    // &:hover,
    // &:focus {
    //   color: var(--accent);
    // }
}

.OBCardPopupItem.disabledTransfer {
display: none;
}



.scss.OBCardPopupText {
  max-width: 214px;
}