.OBCardContainer {
  width: 334px;
  // height: 154px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 8px;
  border-left: 4px solid;
  border-radius: 8px;
  padding: 14px 24px;
  background-color: #fff; // добавил
}

.OBCardTitle {
  margin-bottom: 8px;
}

.OBCardDescription {
  display: -webkit-box;
  -webkit-line-clamp: 2; // обмежує зміст до 2х рядків (працює тільки в зв'язці з спорідненими властивостями)
  -webkit-box-orient: vertical;
  overflow: hidden; // щоб текст, який не вмістився, не виліз за рамки картки
  text-overflow: ellipsis; // проставляє три крапки, інакше текст обрізаний на півбукві
}

.OBCardSeparator {
  margin-top: 14px;
  margin-bottom: 14px;
}

.OBCardFooterContainer {
  display: flex;
  justify-content: space-between;
}

//   .OBCardValuesContainer {
//     // border: 1px solid rebeccapurple;
//   }

th,
td {
  padding-bottom: 3px;
  padding-right: 23px;
  text-align: left;
}

.OBCardProreties {
  color: rgba(22, 22, 22, 0.5);
  font-family: Poppins;
  font-size: 8px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.16px;
}

.OBCardPriorityCircle {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  // background-color: #8fa1d0;
}

.OBCardDate {
  color: #161616;
  font-family: Poppins;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.2px;
}

.OBCardIconsWrapper {
  display: flex;
  align-items: flex-end;
  gap: 8px;
}

.OBCardBellIcon {
    stroke: rgba(82, 85, 188, 1);
    fill: transparent; 
}

.OBCardBtnIcon {
  width: 16px;
  height: 16px;
  background-color: transparent;
  border: none;
  stroke: rgba(22, 22, 22, 0.5); // колір обводки іконки
  fill: transparent;  
  transition: stroke 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
      stroke: rgba(82, 85, 188, 1);
      cursor: pointer;
      transform: scale(1.1);
    }
}


  // position: absolute;
  // top: 20px;
  // right: 20px;