.mainModalEditUserWrap {
  width: 335px;
  padding: 24px;
  background-color: var(--bgModal);
  margin-left: auto;
  margin-right: auto;
  border-radius: 8px;
  box-shadow: 0px 4px 16px 0px rgba(22, 22, 22, 0.05);

  @include minMd() {
    width: 400px;
  }
}

// .modalEditUserTopWrap {
//     display: flex;
//     flex-direction: row;
//     justify-content: space-between;
//     align-items: center;
// }

// .svgCloseEditUser {
//     stroke: #161616;
// }

// .btnCloseProfile {
//     width: 18px;
//     height: 18px;
//     background-color: transparent;
//     border: none;
//     margin-top: 14px;
//     margin-right: 14px;
// }

.titleEditUser {
  color: var(--modalTitle);
  font-family: map-get($fonts, m);
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.36px;
  margin-bottom: 24px;
}

.addAvatarBtnWrap {
  position: relative;
}

.avatar {
  width: 68px;
  height: 68px;
  margin-bottom: 25px;
  margin-left: 110px;
  border-radius: 8px;
  filter: drop-shadow(0px 0px 5px var(--accent));

  @include minMd() {
    margin-left: 142px;
  }
}

.inputAvatar {
  display: none;
}

.btnAddAvatar {
  width: 24px;
  height: 24px;
  background-color: var(--borderTheme);
  flex-shrink: 0;
  border: none;
  border-radius: 7px;
  text-align: center;
  position: absolute;
  left: 47%;
  bottom: -17%;
  scale: 1;
  transition: scale 350ms;
}

.btnAddAvatar:hover,
.btnAddAvatar:focus {
  scale: 1.07;
  transition: scale 350ms;
}

.btnSpan {
  display: flex;
  justify-content: center;
}

.svgPlusEditUser {
  stroke: #161616;
}

.formUserInfoWrap {
  display: flex;
  flex-direction: column;
}

.formInputEditUser {
  margin-bottom: 14px;
  padding-left: 18px;
  width: 287px;
  height: 49px;
  align-items: center;
  border-radius: 8px;
  border: 1px solid var(--accent);
  color: var(--modalTitle);
  font-family: map-get($fonts, r);
  font-size: 14px;
  letter-spacing: -0.28px;
  opacity: 0.4;
  background: var(--bgModal);

  @include minMd() {
    width: 352px;
  }
}

.formInputEditUser:hover,
.formInputEditUser:focus {
  border: 1px solid var(--accent);
}

.formInputEditUser:active,
.formInputEditUser:focus {
  border: 1px solid var(--accent);
  outline: none;
  opacity: 1;
}

.showPassProfileWrap {
  position: relative;
}

.showPasswordEditProfile {
  position: absolute;
  width: 18px;
  height: 18px;
  top: 40%;
  left: 90%;
  transform: translateY(-50%);
  cursor: pointer;
  stroke: var(--modalTitle);
  fill: none;
  opacity: 0.4;
}

.formBtnEditUser {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  margin-top: 10px;
  width: 287px;
  height: 49px;
  border-radius: 8px;
  background: var(--accent);
  border: none;
  color: var(--modalBtnText);
  font-family: map-get($fonts, m);
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.28px;

  @include minMd() {
    width: 352px;
  }
}

.errorNewInfo {
  color: var(--accent);
  font-family: map-get($fonts, m);
  font-size: 12px;
}
