.AOemptyPage {
    height: 100%;
    width: 1180px;
    background-color: var(--bgMain);
    @mixin minMd() {
        width: 768px;
        }
   @mixin minSm() {
        width: 375px;
    }
}

.AOemptyPageText {
    margin: auto;
    max-width: 486px;
    padding-top: 281px;
    padding-bottom: 349px;
    

    font-family: map-get($fonts, r), sans-serif;
    font-size: 14px;
    font-style: normal;
    text-align: center;

    color: var(--emptyBoardText);
    box-shadow: inset 0 4 4 rgba(0, 0, 0, 0.25);
    @mixin minMd() {
        padding-top: 408px;
        padding-bottom: 476px;
        }
    
        @mixin minSm() {
        padding-top: 292px;
        padding-bottom: 380px;
        font-size: 12px;
        }

}

.AOcreateBoard{
font-family: map-get($fonts, r), sans-serif;
    font-style: normal;
    text-align: center;

    color: var(--inputBorderAccent);
    text-shadow: rgba(0, 0, 0, 0.25);
}