.AfErrorS {
  position: relative;
  height: 100vh;
  padding: 20px 20px;

  &Wr {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &Title {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      & span {
        font-family: map-get($fonts, m);
        font-size: 42px;
        letter-spacing: -0.36px;
        &:last-child {
          font-size: 32px;
        }
      }
    }
    &Svg {
      max-width: 160px;
      max-height: 160px;

      @include minSm() {
        max-width: 260px;
        max-height: 260px;
      }
    }
  }
}
