// ================================================== MainDashboard styled
.KkSectionMainDashboard {
  // flex-grow: 1;
  // max-width: 100%;
  // width: 84.5vw;
  // width: 100vw;
  // height: 100vh;
  height: 100vh;
  max-height: calc(100vh - 60px);
  padding-left: 15px;
  padding-right: 15px;
  background-color: var(--bgMain);

  @include minMd() {
    // max-width: 720px;
    padding-left: 24px;
    padding-right: 24px;
    ::-webkit-scrollbar {
      width: 12px;
    }
  }

  // @include  minLg() {
    // max-width: 100%;

  // }

  // @include minXl() {
    // width: 84.5vw;
    // padding-left: 24px;
    // padding-right: 24px;
    // width: calc(100vw - 280px);
    // height: calc(100vh - 70px);
  // }
  ::-webkit-scrollbar {
    width: 8px;
  }

  ::-webkit-scrollbar-track {
    border-radius: 12px;
    // background: rgba(255, 255, 255, 0.08);
    background: var(--bgScrollModify);
  }

  ::-webkit-scrollbar-thumb {
    background: var(--scroll); /* Колір пальця скрола (перетягуючої частини) */
    border-radius: 12px; /* Закруглені кути пальця скрола */
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #555; /* Колір пальця скрола при наведенні */
    background: var(--accentHover);
  }
}

.KkColums {
  display: flex;
  gap: 15px;
  height: calc(100svh - 125px);

  overflow-y: auto;
  scroll-behavior: smooth;
  @include minLg() {
    height: 90%;
    // max-width: 170vh;
  }
}

.KkBtnAddColumnMain {
  margin-top: 10px;
}

// ================================================== Filters styled
.KkFilters {
  padding-top: 10px;

  // @include minMd() {
  //   padding-top: 26px;
  // } // планшет

  // @include minXl() {
  //   padding-top: 10px;
  // } // комп
}

.KkTitle {
  font-family: map-get($fonts, m), sans-serif;
  font-style: normal;
  color: var(--modalTitle);
  padding: 5px;
  background-color: var(--bgMain);
  border-radius: 5px;

  @include minMd() {
    font-size: 18px;
    font-style: normal;
    letter-spacing: -0.36px;
  } // планшет
}

// .KkWrapFilters {
//   display: flex;
//   justify-content: space-between;
//   // position: relative;
// }


.KkBtnFilters {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  margin: 0;
  padding: 0;
  background-color: var(--bgMain);
  padding: 5px;
  border-radius: 5px;

  & p {
    margin-left: 8px;
    font-family: map-get($fonts, m), sans-serif;
    font-style: normal;
    font-weight: 500;
    color: var(--colorFilters);

    @include minMd() {
      font-size: 18px;
      letter-spacing: -0.36px;
    } // планшет
  }

  & svg {
    stroke: var(--colorFilters);
    fill: none;
  }
}

// ================================================== TaskColumn styled

.KkTaskColumn {
  width: 334px;
}

// ================================================== Title Cards styled !!!!!!!!!!!!!!!!
.TitleCards {
  margin-top: 10px;
  margin-bottom: 14px;

  & p {
    font-family: map-get($fonts, m), sans-serif;
    font-style: normal;
    letter-spacing: -0.36px;
    color: var(--modalTitle);
  }

  & svg {
    fill: none;
    stroke: var(--iconsCard);
    transition: stroke $transition;

    &:hover,
    &:focus {
      stroke: var(--accent);
    }
  }
}

.KkWrapTitleCards {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 334px;
  padding: 18px 20px;
  border-radius: 8px;
  background-color: var(--bgCard);
}

.KkSvgTitleCards {
  display: flex;
  align-items: center;
  gap: 8px;
}

.KkCards {
  display: block;
  max-height: calc(100vh - 340px);
  overflow-y: auto; 
  scroll-behavior: smooth;

}

.KkBtnIcons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  border: none;
  background-color: inherit;
}

// ================================================== Btn styled
.KkBtnAddColumn {
  margin-top: 10px;
}

.KkBtnColumn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 334px;
  padding: 14px 0;
  border: none;
  border-radius: 8px;
  background-color: var(--bgCard);

  & p {
    margin-left: 8px;
    font-family: map-get($fonts, m), sans-serif;
    font-style: normal;
    font-weight: 500;
    color: var(--modalTitle);
  }
}

.KkIconPlusColumn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 28px;
  height: 28px;
  border: none;
  border-radius: 6px;
  background: var(--bgIconPlus);

  & svg {
    stroke: var(--bgCard);
  }
}

.KkBtnAddCard {
  margin-top: 14px;
  // margin-bottom: 24px;
  @include minSm() {
    // margin-bottom: 52px;
  }
  @include minXl() {
    // margin-bottom: 16px;
  }
}
.KkBtnCard {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 334px;
  padding: 14px 0;
  border: none;
  border-radius: 8px;
  background-color: var(--accent);
  transition: background-color $transition;

  &:hover {
    background-color: var(--accentHover);
  }

  & p {
    margin-left: 8px;
    font-family: map-get($fonts, m), sans-serif;
    font-style: normal;
    font-weight: 500;
    color: var(--modalBtnText);
  }
}

.KkIconPlusCard {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 28px;
  height: 28px;
  border: none;
  border-radius: 6px;
  background: var(--modalBtnText);
  stroke: var(--bgIconPlusCard);
}
//-----------------------------Випадаюче меню-----------------------------

.OBFiltersModalContainer {
  position: absolute;
  top: 10px;
  right: 0;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  animation: show 0.45s cubic-bezier(0, 0.1, 0.2, 1) 1;

  width: 300px;
  height: 234px;
  padding: 24px;
  border-radius: 8px;
  background-color: var(--bgCard);
  margin-top: 20px;
}

@keyframes show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.OBFiltersModalTitle {
  // font-family: map-get($fonts, m), sans-serif; // 500
  font-family: Poppins, sans-serif;
  font-weight: 500;
  color: var(--modalTitle);
  font-size: 18px;
  line-height: normal;
  letter-spacing: -0.36px;
}

.OBFiltersModalContent {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.OBFiltersModalShow {
  color: var(--cardText); 
  text-decoration: underline;  
  // font-family: map-get($fonts, r), sans-serif; // 500
  font-family: Poppins, sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: normal;
  cursor: pointer;
  &:hover,
  &:focus {
      color: var(--inputBorderAccent);
  }
}

.OBFiltersModalSeparator {
  border-color: var(--cardSeparator);
  margin-top: 14px;
  margin-bottom: 14px;
}

.OBFilterBtnIcon {
  position: absolute;
  top: 10px;
  right: 14px;
  width: 18px;
  height: 18px;
  background-color: transparent;
  border: none;
  stroke: var(--iconsCard); // колір обводки іконки 
  fill: transparent;  
  transition: $transition;
    &:hover,
    &:focus {
      stroke: var(--inputBorderAccent);
      cursor: pointer;
      transform: scale(1.1);
    }
}