.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1200;
}

.modal {
  max-width: 400px;
  max-height: 522px;
  // max-width: calc(100vw - 48px);
  // max-height: calc(100vh - 24px);
  position: absolute;
  // padding: 24px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  // background-color: rgba(246, 245, 245, 0.8);
}

.closebtn {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 14px;
  right: 14px;
  width: 30px;
  height: 30px;
  cursor: pointer;
  transition: background-color 250ms ease-in;
  border-radius: 50%;
  background-color: transparent;
  z-index: 10;
  &:active {
    background-color: var(--accent);
    border: 1, 5px solid var(--accent);
  }
  @include minMd() {
    &:hover,
    :focus {
      background-color: var(--accent);
      border: 1, 5px solid var(--accent);
    }
  }
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  stroke: var(--ModalIconClose);
}
