.AAColumnContainer {
  width: 350px;
  height: auto;
  padding: 24px;
  border-radius: 8px;
  border: var(--popCardBorderColor);
  margin: auto;
  background-color: var(--bgModal);
  margin: auto;

  @include maxSm() {
    width: 335px;
  }
}

.AAColumnTitle {
  margin-bottom: 24px;
  color: var(--modalTitle);
  font-family: map-get($fonts, r);
  font-size: 18px;
  line-height: calc(18 / 27);
  font-weight: 500;
  font-style: normal;
  letter-spacing: -0.36px;
}

.AAColumnInput {
  width: 302px;
  margin: auto;
  font-family: map-get($fonts, r);
  font-size: 14px;
  line-height: calc(14 / 21);
  font-weight: 400;
  font-style: normal;
  letter-spacing: -0.28px;
  background-color: var(--inputBgColor);
  border: 1px solid var(--accent);
  opacity: 0.4;
  box-shadow: 0px 4px 16px 0px rgba(22, 22, 22, 0.08);
  border-radius: 8px;
  padding-left: 18px;
  padding-right: 256px;
  padding-top: 14px;
  padding-bottom: 14px;
  margin-bottom: 24px;
  &::placeholder {
    color: var(--modalTitle);
  }
  &:hover,
  &:focus {
    border-color: var(--accentHover);
    outline: none;
  }

  @include maxSm() {
    padding-right: 241px;
  }
}

.AAColumnBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 302px;
  height: 49px;
  border-radius: 8px;
  border-color: transparent;
  background: var(--accent);

  color: var(--modalBtnText);
  font-family: map-get($fonts, m);
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: calc(14 / 21);
  letter-spacing: -0.28px;
  &:hover,
  &:focus {
    background-color: var(--accentHover);
  }

  .AAColumnSvgContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 28px;
    height: 28px;
    margin-right: 8px;
    background-color: var(--modalBtnText);
    border-radius: 6px;
  }

  .AAColumnSvg {
    width: 14px;
    height: 14px;
    stroke: var(--bgIconPlusCard);
  }
}
