.OBFiltersModalLabel { // для фільтра
    font-family: Poppins, sans-serif;
    font-size: 12px;
    line-height: normal;
    letter-spacing: -0.24px;
    font-weight: 400;
    color: var( --iconsCard); 

}

.OBFiltersModalRadioGroupV {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-top: 14px;
}

.OBFiltersModalRadioGroupH {
    display: flex;
    // gap: 8px;
    margin-top: 4px;
    margin-bottom: 14px;
}

.OBFiltersModalRadioLabelV {
    display: flex;
    gap: 8px;
    padding-left: 9px;
}

.OBFiltersModalRadioLabelH {
    padding-left: 9px;
    margin: 0;
}

.OBFiltersModalRadioBtn { 
    width: 14px;  // тепер радіокнопки не скачуть при чеку
    height: 14px;
}