.AfBodyWr {
  display: flex;
  height: 100vh;
  position: relative;
  width: 100vw;
}
.AfMainWr {
  width: 100%;
  & main {
    height: calc(100% - 58px);
    @include minMd() {
      height: calc(100% - 75.5px);
    }
    @include minLg() {
      height: calc(100% - 66px);
    }
  }
}
