@keyframes heartbeat {
  0% {
    transform: scale(1);
  }
  20% {
    transform: scale(1.15);
  }
  40% {
    transform: scale(1.35);
  }
}
.sidebarContainer {
  @include maxLg() {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100svh;
    background: rgba(21, 21, 21, 0.5);
    z-index: 8;
  }
}
.sidebarWrap {
  width: 225px;
  height: 100vh;
  max-height: 100svh;
  background-color: var(--bgSidebar);
  position: relative;
  top: 0;
  z-index: 11;

  @include minMd() {
    width: 260px;
  }
}

.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  padding: 14px 14px 24px 14px;

  @include minMd() {
    padding: 24px;
  }
  ::-webkit-scrollbar {
    width: 6px;
  }

  ::-webkit-scrollbar-track {
    border-radius: 12px;
    // background: rgba(255, 255, 255, 0.08);
    background: var(--bgScrollModify);
  }

  ::-webkit-scrollbar-thumb {
    background: var(--scroll); /* Колір пальця скрола (перетягуючої частини) */
    border-radius: 12px; /* Закруглені кути пальця скрола */
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #555; /* Колір пальця скрола при наведенні */
    background: var(--accentHover);
  }
}

.sbHeader {
  display: flex;
  align-items: center;
  margin-bottom: 50px;

  cursor: pointer;

  &:hover svg {
    animation: heartbeat 1s infinite;
  }
  // @include minMd() {
  //   margin-bottom: 60px;
  // }
}

.sbLogo {
  margin-right: 8px;
}

.sbTitle {
  display: flex;
  color: var(--primary);
  // text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: map-get($fonts, b), sans-serif;
  font-size: 16px;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.64px;

  @include minMd() {
    text-shadow: none;
  }
}

.sbSubtitle {
  color: var(--sbSubtitle);
  font-family: map-get($fonts, r), sans-serif;
  font-size: 12px;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.24px;
  margin-bottom: 8px;
}

.sbBoards {
  display: flex;
  align-items: center;
}

.sbCreateBoardBlock {
  display: flex;
  align-items: center;
  width: 197px;
  height: 70px;
  border-top: 1px solid var(--sbBorderNew);
  border-bottom: 1px solid var(--sbBorderNew);
  margin-bottom: 40px;

  @include minMd() {
    width: 212px;
  }
}

.sbCreateBoardText {
  width: 76px;
  height: 42px;
  display: flex;
  color: var(--primary);
  font-family: map-get($fonts, m), sans-serif;
  font-size: 14px;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.28px;
  margin-right: 77px;

  @include minMd() {
    margin-right: 96px;
  }
}

.sbCreateBoardButton {
  display: block;
  width: 40px;
  height: 36px;
  border: none;
  border-radius: 6px;
  background: var(--btnPlus);
  transition: opacity 0.3s;
  &:hover,
  &:focus {
    background-color: var(--btnPlusHover);
    opacity: 0.8;
  }
}

.sbCreateBoardLogo {
  flex-shrink: 0;
  stroke: var(--btnAddBoard);
}

.sbHelp {
  width: 197px;
  // height: 238px;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  border-radius: 8px;
  background: var(--bgHelp);
  // margin-top: 51px;
  margin-bottom: 24px;
  padding: 20px;

  @include minMd() {
    width: 212px;
    // height: 272px;
    // margin-top: 99px;
  }

  @include minLg() {
    // margin-top: 40px;
  }
}

.sbHelpText {
  // width: 168px;
  // height: 80px;
  flex-shrink: 0;
  color: var(--primary);
  font-family: map-get($fonts, r), sans-serif;
  font-size: 12px;
  // font-style: normal;
  line-height: 16px;
  letter-spacing: -0.24px;
  margin-top: 14px;
  margin-bottom: 18px;
  // margin: 0 14px 18px 15px;
  .cbTaskProSpan {
    color: var(--accent);
  }

  @include minMd() {
    // width: 172px;
    // height: 102px;
    // margin: 0 20px 18px 20px;
    font-size: 14px;
    // font-style: normal;
    line-height: 20px;
    letter-spacing: -0.28px;
  }
}

.sbHelpButton {
  padding: 0;
  border: none;
  display: inline-flex;
  background-color: transparent;
  justify-content: flex-start;
  align-items: center;
}

.sbNeedhelpSvg {
  stroke: var(--primary);
  fill: transparent;
  margin-right: 7px;
}

.sbNeedHelpButtonText {
  color: var(--primary);
  font-family: map-get($fonts, m), sans-serif;
  font-size: 12px;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.24px;
}

.sbLogoutButton {
  padding: 0;
  border: none;
  width: 98px;
  height: 32px;
  display: inline-flex;
  background-color: transparent;
  justify-content: flex-start;
  align-items: center;

  @include minMd() {
    width: 105px;
  }
}

.sbLogoutSvg {
  display: flex;
  justify-content: center;
  align-items: center;
  stroke: var(--sbActiveFlag);
  fill: none;
  margin-right: 14px;
  transition: opacity 0.3s;

  &:hover,
  &:focus {
    stroke: var(--LogOutSvgHov);
    opacity: 0.8;
  }
}

.sbHelpPngCactus {
  width: 54px;
  height: 78px;
  flex-shrink: 0;
  background: url(../../images/help-cactus.png), no-repeat;
}

.sbLogoutText {
  color: var(--primary);
  font-family: map-get($fonts, m), sans-serif;
  font-size: 14px;
  font-style: normal;
  line-height: normal;
}

.boardsList {
  width: 225px;
  height: 126px;
  padding: 0;
  margin-left: -14px;
  display: flex;
  flex-direction: column;
  gap: 4px;
  overflow-y: scroll;
  overflow-x: hidden;

  @include minMd() {
    width: 260px;
    height: 126px;
    margin-left: -24px;
  }
}

.boardsListItemWrap {
  width: 100%;
  height: 61px;
  display: flex;
  cursor: pointer;
  padding: 0;
  border: none;
  background-color: transparent;
  justify-content: space-between;
  align-items: center;
  border-color: transparent;

  &:focus-within {
    background: var(--sbActiveBoard);

    .boardsListItemTitle {
      color: var(--primary);
    }

    .boardsListItemTitleSvg {
      stroke: var(--primary);
    }

    .boardsListItemActive {
      display: flex;
    }
  }

  @include minMd() {
    width: 100%;
    height: 61px;
  }
}

.boardsListItemFirst {
  background: var(--sbActiveBoard);

  .boardsListItemTitle {
    color: var(--primary);
  }

  .boardsListItemTitleSvg {
    stroke: var(--primary);
  }

  .boardsListItemActive {
    display: flex;
  }
}

.boardsListItem {
  width: 100%px;
  height: 61px;
  display: flex;

  @include minMd() {
    width: 100%px;
    height: 61px;
  }
}

.boardsListItemTitleGroup {
  display: flex;
}

.boardsListItemTitleSvg {
  stroke: var(--sbBoardSvg);
  fill: transparent;
  margin-right: 4px;
  margin-left: 14px;

  @include minMd() {
    margin-right: 8px;
    margin-left: 24px;
  }
}

.boardsListItemTitle {
  max-height: 60px;
  max-width: 115px;
  display: -webkit-box;
  color: var(--sbBoardName);
  font-family: map-get($fonts, m), sans-serif;
  font-size: 14px;
  letter-spacing: -0.28px;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.boardsListItemActive {
  display: none;
}

.boardsListItemButtons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin-right: 14px;

  @include minMd() {
    margin-right: 20px;
  }
}

.boardsListItemButton {
  width: 16px;
  height: 16px;
  padding: 0;
  border: none;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}

.boardsListItemSvg {
  stroke: var(--sbBoardSvg);
  fill: transparent;
  transition: stroke 250ms linear;

  &:hover,
  &:focus {
    stroke: var(--accent);
  }
}

.boardsListActiveFlag {
  width: 4px;
  height: 61px;
  display: flex;
  flex-shrink: 0;
  border-radius: 4px 0px 0px 4px;
  background: var(--sbActiveFlag);
}
