@font-face {
    font-family: 'Poppins';
    src: url(../styles/fonts/Poppins-Regular.woff2) format('woff2'),
      url(../styles/fonts/Poppins-Regular.woff) format('woff'),
      url(../styles/fonts/Poppins-Regular.ttf) format('truetype');
    font-weight: 400;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Poppins';
    src: url(../styles/fonts/Poppins-Medium.woff2) format('woff2'),
      url(../styles/fonts/Poppins-Medium.woff) format('woff'),
      url(../styles/fonts/Poppins-Medium.ttf) format('truetype');
    font-weight: 500;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Poppins';
    src: url(../styles/fonts/Poppins-SemiBold.woff2) format('woff2'),
      url(../styles/fonts/Poppins-SemiBold.woff) format('woff'),
      url(../styles/fonts/Poppins-SemiBold.ttf) format('truetype');
    font-weight: 600;
    font-style: normal;
  }
  