.titleEditUser {
    color: var(--bg-header);
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.36px;
    margin-top: 24px;
    margin-left: 24px;
    margin-bottom: 24px;
}

.avatar {
    width: 68px;
    height: 68px;
    background-image: url(../../images/user.png);
    margin-bottom: 25px;
    margin-left: 134px;
        @media (min-width: 768px) {
                    margin-left: 166px;
            }
}

.formUserInfoWrap {
    display: flex;
    flex-direction: column;
}

.formInputEditUser {
    margin-bottom: 14px;
    margin-left: 24px;
    margin-right: 24px;
    padding-left: 18px;
    width: 287px;
    height: 49px;
    align-items: center;
    border-radius: 8px;
    border: 1px solid var(--accent);
    color: var(--bg-header);
    font-family: Poppins;
    font-size: 14px;
    letter-spacing: -0.28px;
    border: 1px solid var(--accent);
    opacity: 0.4;

    @media (min-width: 768px) {
            width: 352px;
    }
}

.formInputEditUser:hover,
.formInputEditUser:focus {
    border: 1px solid var(--accent-hover);           
}

.formInputEditUser:active,
 .formInputEditUser:focus {
    border: 1px solid var(--accent-hover);
    outline: none;
    
}

.formBtnEditUser {
    margin-top: 10px;
    margin-left: 24px;
    width: 287px;
    height: 49px;
    border-radius: 8px;
    background: var(--accent);
    border: none;

        @media (min-width: 768px) {
                width: 352px;
            }
}

.svgCloseEditUser {
    stroke: #161616;       
    margin-top: 14px;  
    margin-right: 14px;

}

.modalEditUserTopWrap {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.btnAddAvatar {
    width: 24px;
    height: 24px;
    background-color: var(--accent-hover);
    flex-shrink: 0;
    border: none;
    border-radius: 7px;
    text-align: center;
    position: absolute;
    left: 47%;
    bottom: -20%;
}

.addAvatarBtnWrap {
    position: relative;
}

.svgPlusEditUser {
    stroke: #161616;
}

.btnSpan {
    display: flex;
    justify-content: center;
}





.mainModalEditUserWrap {
    width: 335px;
    height: 440px;
    background-color: #fcfcfc;
        @media (min-width: 768px) {
                width: 400px;
            }


}