// Colors
//--------------------
$colors: (
  // accent: #ffc709,
  welcom-primary: #161616,
  welcom-secondary: #fff,
  // secondary: #8f8b89,
  bg-welcome:
    linear-gradient(180deg, rgba(196, 196, 196, 0) 25%, #bedbb0 92.19%),
  secondary-text: rgba(255, 255, 255, 0.3),
  accent: #bedbb0,
  accent-hover: #9dc888,
  bg-welcome-card: #151515,
  bg-overlay: rgba(21, 21, 21, 0.3),
  label-pink: #e09cb5,
  label-blue: #8fa1d0
);

@function color($colorSelect) {
  @return map_get($colors, $colorSelect);
}

// Transition
//--------------------
$transition: 0.2s;

// Corner radius
//--------------------
$radius: 4px;

$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;

$maxWidthContent: 1216px;
$maxWidthContentMobile: 600px;

$fonts: (
  r: 'Poppins-Regular',
  b: 'Poppins-SemiBold',
  m: 'Poppins-Medium',
);
//Пример использования      font-family: map-get($fonts, r), sans-serif;

$max-width-content: 1218px;

:root {
  --p: grey;
  --bg-welcome: linear-gradient(
    180deg,
    rgba(196, 196, 196, 0) 25%,
    #bedbb0 92.19%
  );
  --secondary-text: rgba(255, 255, 255, 0.3);
  --accent: #bedbb0;
  --accent-hover: #9dc888;
  --bg-welcome-card: #151515;
  --bg-overlay: rgba(21, 21, 21, 0.3);
  --label-pink: #e09cb5;
  --label-blue: #8fa1d0;
}

// DARK THEME
[data-theme='dark'] {
  --p: red;
  --bgSidebar: #121212;
  --bg-header: #161616;
  --bg-main: #1f1f1f;
  --bg-help: #1f1f1f;
  --primary: #ffffff;
  --secondary: rgba(255, 255, 255, 0.3);
  --accent: #bedbb0;
  --accent-hover: #9dc888;
  --btn-plus: #bedbb0;
  --btn-plus-hover: #9dc888;
  --scroll: #121212;
  --bg-scroll: #ffffff;
}

// LIGHT THEME
[data-theme='light'] {
  --p: blue;
  --bg-sidebar: #ffffff;
  --bg-header: #fcfcfc;
  --bg-main: #f6f6f7;
  --bg-help: #f6f6f7;
  --primary: #161616;
  --secondary: rgba(22, 22, 22, 0.7);
  --accent: #bedbb0;
  --accent-hover: #9dc888;
  --btn-plus: #bedbb0;
  --btn-plus-hover: #9dc888;
  --scroll: rgba(22, 22, 22, 0.1);
  --bg-scroll: #e8e8e8;
}

// VIOLET THEME
[data-theme='violet'] {
  --p: yellow;
  --bg-sidebar: #5255bc;
  --bg-header: #161616;
  --bg-main: #ecedfd;
  --bg-help: rgba(236, 237, 253, 0.4);
  --primary: #ffffff;
  --secondary: rgba(255, 255, 255, 0.5);
  --accent: #5255bc;
  --accent-hover: #7b7ede;
  --btn-plus: #b8bcfd;
  --btn-plus-hover: #979cea;
  --scroll: #b8bcfd;
  --bg-scroll: #ffffff;
}
